[[source]]
name = "gspoty"
url = "https://github.com/diegocrzt/gspoty"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
spotipy = "*"
gmusicapi = "*"

[requires]
python_version = "3.8"
